.related-box {
  width: min-content;
  flex-direction: column;

  @media (min-width: 200px) and (max-width: 991.98px) {
    width: 100%;
  }
}

.related-box-input {
  height: 40px;
  font-size: 16px;
  padding: 0px 12px;
  width: 300px;
  box-shadow: none;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  z-index: 99;

  @media (min-width: 200px) and (max-width: 991.98px) {
    width: 100%;
  }
}

.related-suggestions-box {
  position: relative;
  width: 100%;
}

.related-suggestions-box-items {
  background-color: white;
  width: 100%;
  top: 5px;
  padding: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.63);
  max-height: 400px;
}

.related-box-item {
  width: 100%;
}
